.App {
  text-align: center;
  width: 100%;
  height:fit-content;
}

.pokemonCardContainer {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  gap: 10px;
  margin-top: 20px;
  place-items: center;
}

.btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e99292;
  box-shadow: 2px 8px 21px -2px #c4bbbb;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn button:hover {
  background-color: #e8b4b4;
  transform: translateY(5px);
  box-shadow: none;
  transition: all 0.3s;
}

.btn button:active {
  transform: translateY(0);
}

